@media (max-width: 991px) {
  /* Hero section */
  .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: inherit;
    display: none;
    width: inherit;
    left: inherit;
    transform: inherit;
  }
  .topbar {
    display: none;
  }
  header {
    -webkit-backdrop-filter: blur(5rem);
    backdrop-filter: blur(5rem);
  }
  .mt-md-5 {
    margin-top: 3rem;
  }
  .dropdown-hover:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .section-service {
    background-size: cover;
    padding: 25rem 0;
  }
}
@media (max-width: 550px) {
  .slide-content {
    width: 95%;
  }
}
